* {
    margin: 0;
}

 /* HEADER STYLE */
.Ip-form {
    position: relative;
    background-image: url("../../images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 1rem 5rem 1rem;
    text-align: center; 
}

.Ip-form h1 {
    
    color: white;
    margin-bottom: .5rem;
}

form {
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type="text"] {
    padding: 4px;
    width: 40%;
    border:  none;
    outline: none;
    border-radius: 10px 0 0 10px;
}

input[type="image"] {
    border: none;
    outline: none;
    width: 20px;
    padding: .5rem;
    background-color: black;
    border-radius: 0 10px 10px 0;
}
input[type="image"]:hover {
    cursor: pointer;
}

/* INFORMATIONS STYLE */

.infos {
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 65%;
    left: 10%;
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 10px;
}

.infos div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 2rem;
}

.infos-title {
    color: grey;
    font-size: 0.7rem;
    margin-bottom: .5rem;
}

.infos-content {
    font-weight: bold;
}

.border-left {
    border-left: 1px solid grey;
    padding-left: 3rem;
}

#map {
    z-index: 0;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        
    }

    .infos > div {
        height: 20%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: .5rem;

    }

    .infos-title {
        margin: 0;
    }
    
    .border-left {
        border: none;
        padding: none;
    }
}



